/*--- Header and Navbar Elements --*/
.name {
    padding: .8rem;
    height: 100%;
    background-color: #4aaaa5;
    color: whitesmoke;
    font-size: 2em;
}

.navbar {
    /*padding: .8rem;*/
    border-bottom: 2px solid #666;
    background-color: whitesmoke;
  }
  
  .navbar-nav li {
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav-link {
    font-size: 1.1em !important;
  
  }


/*--- Center Card Heading for All Cards--*/



/*--- About Me Styles --*/



/*--- Portfolio Elements --*/



/*--- Contact Form --*/



/*--- Footer COMPLETE --*/
/*Not Needed: 
.container-line {
    background-color: #4aaaa5;
    height: 6px;
}*/

.container-footer {
    background-color: rgb(102, 102, 102) ;
    color: whitesmoke;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    border-top: 6px solid #4aaaa5;
    /*Not Needed: max-width: 960px;*/
    margin-top: 50px;
    height: 58px;
    text-align: center;
    padding-top: 16px;
    /*Not Needed: box-sizing: border-box;
    clear: both;*/
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}


/*--- Media Queries --*/
@media (max-width: 960px) {
    
    }
  
@media (max-width: 768px) {
    
    }
  
@media (max-width: 576px) {
    
    }


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 960px and up)
@media (min-width: 992px) { ... } **SPECIFIED IN ASSIGNMENT**

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/*--- Fixed Background Image --*/
body {
    background-image: url("images/memphis-mini-dark.png");
    /*=========================================================================
 This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ 
 If you need more, that's where to get'em.
 ========================================================================*/
    background-color: black;
    background-attachment: fixed;
}


/*--- Fixed Background Image from Tutorial- not working 
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #fixed {
    background-image: url('images/memphis-mini-dark.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  } --*/
  
/*--- Code for floating background from Drew Ryan Bootstrap 4 Tutorial--*/











